/* ENGAGE - TODO: colouring! */
.engage section { padding: 0; }

.toggle-engage { cursor: pointer; }
.engage { border: 1px solid #666; border-radius: 20px; padding: 30px; }
.engage input[type="checkbox"] { margin-right: 6px; }
.engage .full-width { width: 100%; margin-bottom: 15px; }

.engage h1, .engage h2 { font-size: inherit; padding: 6px; border: 1px solid gray; border-radius: 8px; }
.engage h1 { background-color: var(--amw-site-background, #c9a45e); }
.engage h2 { background-color: var(--amw-footer-background, rgb(151, 197, 182)); } 

.engage ol, .engage ul, .engage li { list-style-type: none; }
.engage label { text-transform: none!important; font-size: 110%; }

.btn-fill { margin: 10px; width: 100%; padding: 15px; }
.btn-fill:hover { text-decoration: underline; }
.btn-site, .btn-site:hover { background-color: rgb(233, 143, 143); }
.btn-node, .btn-node:hover { background-color: rgb(129, 226, 129); }
.btn-node-item, .btn-node-item:hover { background-color: rgb(135, 135, 224); }
.btn-promotion, .btn-promotion:hover { background-color: rgb(231, 231, 141); }
